@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,200&display=swap');

* {


    box-sizing: border-box;
    margin: 45px;
    font-family: 'Poppins', sans-serif;

}

body {
    background-image: url("./Quiz/backgrounds/pixel-art-gc53c87aed_1920.png");

}

h2 {
    font-size: 60px;
    text-align: center;
    justify-content: center;
    color: whitesmoke;
    border: 2px dotted;
    border-radius: 15px;
    display: flex;
    background-color: darkgrey;
    box-shadow: 10px 10px grey;
}

h3 {
    text-align: center;
    font-size: 40px;
    border: 2px dotted;
    border-radius: 15px;
    background-color: darkgrey;
    color: whitesmoke;
    box-shadow: 10px 10px grey;
}

p {
    text-align: center;
    background-color: darkgrey;
    color: whitesmoke;
    font-size: 23px;
    margin: 2% 5%;
    line-height: 3em;
    border: 2px dotted;
    border-radius: 15px;
    box-shadow: 10px 10px grey;
}


button {

    margin-left: 45%;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 35px;
    border: 2px solid;
    border-radius: 15px;
    cursor: pointer;


}

button:hover {
    background-color: darkgray;
    transform: scale(1.1);
}

/* footer {
    position: fixed;
    
}

footer #Copyright {
     text-align: center;
     font-size: large;
     color: black;
} */