*{
    
    background-color: rgb(215, 244, 234);
    box-sizing: border-box;
    margin: 45px;
}

h2{
    font-size: 75px;
    text-align: center;
    justify-content: center;
    /* margin:auto; */
    /* margin-top: 2em; */
    color: rgb(34, 84, 68);
    display: flex;
}
h3{
    text-align: center;
    font-size: 25px;
}

p{
    text-align: center;
    color: rgb(42, 102, 83);
    font-size: 20px;
}


button{
    
     margin-left: 43%;   
    /* margin-top: 5rem;  */
    justify-content: center;
    text-align: center;
    padding: 5px 25px 5px 25px;
    background-color: rgb(76, 197, 197);
    color: aliceblue;
    font-size: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    

}

button:hover{
    background-color: teal;
    transform: scale(1.1);
}